$font: 'Bai Jamjuree', 'Trebuchet MS', sans-serif;
$font-size: 14px;
$line-height: 2;
$text-color: hsla(0, 100%, 100%, 1);

$shop-bg: hsla(243, 72%, 6%, 1);
$shop-item-bg: hsla(0, 100%, 100%, 0.03);
$shop-item-bg-2: hsla(0, 100%, 100%, 0.05);
$shop-popup-bg: hsla(243, 72%, 6%, 1);
$shop-btn-bg: hsla(19, 100%, 50%, 1);
$shop-border-light: hsla(0, 0%, 100%, 0.1);
$shop-border-light-2: hsla(0, 0%, 100%, 0.25);
$shop-border-light-3: hsla(0, 0%, 100%, 0.15);
$shop-white: hsla(0, 100%, 100%, 1);
$shop-white-soft: hsla(0, 100%, 100%, 0.8);
$shop-white-soft-2: hsla(0, 100%, 100%, 0.6);
$shop-white-soft-3: hsla(0, 100%, 100%, 0.4);
$shop-price: hsla(184, 100%, 50%, 1);
$shop-black: hsla(0, 0%, 0%, 1);
$shop-red: hsla(0, 100%, 56%, 1);
$shop-disable: hsla(0, 0%, 80%, 1);